Repository juanfont/headscale, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juanfont, @kradalby, @ohdearaugustin, @nblock

.github/CODEOWNERS:

* @juanfont @kradalby

*.md @ohdearaugustin @nblock
*.yml @ohdearaugustin @nblock
*.yaml @ohdearaugustin @nblock
Dockerfile* @ohdearaugustin @nblock
.goreleaser.yaml @ohdearaugustin @nblock
/docs/ @ohdearaugustin @nblock
/.github/workflows/ @ohdearaugustin @nblock
/.github/renovate.json @ohdearaugustin @nblock

cleanup linter warnings (#2206)
  hscontrol/mapper/mapper.go
  hscontrol/mapper/mapper_test.go
  hscontrol/noise.go
  integration/route_test.go
Owners: @juanfont, @kradalby

resolve user identifier to stable ID
  hscontrol/app.go
  hscontrol/db/node_test.go
  hscontrol/db/routes.go
  hscontrol/grpcv1.go
  hscontrol/mapper/mapper.go
  hscontrol/mapper/mapper_test.go
  hscontrol/policy/acls.go
  hscontrol/policy/acls_test.go
Owners: @juanfont, @kradalby

wrap policy in policy manager interface
  hscontrol/app.go
  hscontrol/db/node_test.go
  hscontrol/db/routes.go
  hscontrol/grpcv1.go
  hscontrol/mapper/mapper.go
  hscontrol/mapper/mapper_test.go
  hscontrol/mapper/tail.go
  hscontrol/mapper/tail_test.go
  hscontrol/policy/pm.go
  hscontrol/poll.go
Owners: @juanfont, @kradalby

remove unused args
  hscontrol/mapper/mapper.go
Owners: @juanfont, @kradalby

report if filter has changed
  hscontrol/grpcv1.go
  hscontrol/mapper/mapper.go
  hscontrol/mapper/mapper_test.go
  hscontrol/policy/pm.go
  hscontrol/policy/pm_test.go
Owners: @juanfont, @kradalby

hook up user and node changes to policy
  hscontrol/app.go
  hscontrol/auth.go
  hscontrol/grpcv1.go
  hscontrol/oidc.go
Owners: @juanfont, @kradalby

fix loading policy manager
  hscontrol/app.go
  hscontrol/policy/pm.go
Owners: @juanfont, @kradalby

split out reading policy and applying
  hscontrol/app.go
Owners: @juanfont, @kradalby

fix nil pointer in oidc for policy
  hscontrol/app.go
Owners: @juanfont, @kradalby

fix nil in router
  hscontrol/policy/pm.go
Owners: @juanfont, @kradalby

tags approved via acl
  integration/cli_test.go
  integration/hsic/hsic.go
Owners: @juanfont, @kradalby

update error string
  integration/cli_test.go
Owners: @juanfont, @kradalby

fix autoapprove
  hscontrol/app.go
  hscontrol/db/routes.go
  hscontrol/policy/pm.go
  hscontrol/poll.go
Owners: @juanfont, @kradalby

update integration test build
  .github/workflows/test-integration.yaml
Owners: @ohdearaugustin, @nblock

Remove status from web-ui docs
  docs/ref/integration/web-ui.md
Owners: @ohdearaugustin, @nblock

Add page for third-party tools and scripts
  docs/ref/integration/tools.md
  docs/setup/install/community.md
  mkdocs.yml
Owners: @ohdearaugustin, @nblock

Added docs
  docs/ref/node-management.md
  mkdocs.yml
Owners: @ohdearaugustin, @nblock

Added approved fields and procedure to proto files
  gen/go/headscale/v1/headscale.pb.go
  gen/go/headscale/v1/headscale.pb.gw.go
  gen/go/headscale/v1/headscale_grpc.pb.go
  gen/go/headscale/v1/node.pb.go
  gen/go/headscale/v1/preauthkey.pb.go
  gen/openapiv2/headscale/v1/headscale.swagger.json
  proto/headscale/v1/headscale.proto
  proto/headscale/v1/node.proto
  proto/headscale/v1/preauthkey.proto
Owners: @juanfont, @kradalby

Fixed errors in files according to golangci-lint rules
  .github/workflows/test-integration.yaml
  cmd/headscale/cli/nodes.go
  hscontrol/auth.go
  hscontrol/db/db.go
  hscontrol/db/ip.go
  hscontrol/db/node.go
  hscontrol/db/node_test.go
  hscontrol/types/common.go
  hscontrol/types/node.go
  integration/auth_approval_test.go
  integration/hsic/hsic.go
Owners: @ohdearaugustin, @nblock, @juanfont, @kradalby

Fixed nolint directive
  hscontrol/db/node_test.go
Owners: @juanfont, @kradalby

Fix newline in config-example.yaml
  config-example.yaml
Owners: @ohdearaugustin, @nblock

Rewrite oidc_callback_template in elem-go
  hscontrol/assets/oidc_callback_template.html
  hscontrol/oidc.go
  hscontrol/templates/general.go
  hscontrol/templates/oidc_callback.go
Owners: @juanfont, @kradalby

Corrected integration tests and github test-integration workflow
  .github/workflows/test-integration.yaml
  integration/auth_approval_test.go
Owners: @ohdearaugustin, @nblock, @juanfont, @kradalby

Fixed the order of calling integration tests
  .github/workflows/test-integration.yaml
Owners: @ohdearaugustin, @nblock

Corrected existing integration tests. New integration tests added
  integration/auth_approval_test.go
  integration/cli_test.go
  integration/control.go
  integration/embedded_derp_test.go
  integration/general_test.go
  integration/hsic/hsic.go
  integration/scenario.go
  integration/scenario_test.go
  integration/tailscale.go
  integration/tsic/tsic.go
Owners: @juanfont, @kradalby

Fix OIDCCallbackHandler
  hscontrol/oidc.go
Owners: @juanfont, @kradalby

Added manual approval of nodes in the network
  cmd/headscale/cli/nodes.go
  cmd/headscale/cli/preauthkeys.go
  config-example.yaml
  hscontrol/app.go
  hscontrol/auth.go
  hscontrol/db/db.go
  hscontrol/db/ip.go
  hscontrol/db/node.go
  hscontrol/db/preauth_keys.go
  hscontrol/grpcv1.go
  hscontrol/mapper/tail.go
  hscontrol/types/config.go
  hscontrol/types/node.go
  hscontrol/types/preauth_key.go
Owners: @juanfont, @kradalby, @ohdearaugustin, @nblock

Fixed errors in files according to golangci-lint rules
  hscontrol/db/node.go
  hscontrol/db/node_test.go
  hscontrol/types/common.go
  integration/auth_approval_test.go
  integration/cli_test.go
Owners: @juanfont, @kradalby

Corrected unit tests and integration tests
  hscontrol/db/node_test.go
  integration/cli_test.go
Owners: @juanfont, @kradalby

Corrected unit tests and integration tests
  hscontrol/db/node_test.go
  hscontrol/db/preauth_keys_test.go
  hscontrol/db/routes_test.go
  hscontrol/db/users_test.go
  integration/embedded_derp_test.go
  integration/general_test.go
  integration/scenario.go
  integration/scenario_test.go
Owners: @juanfont, @kradalby

Refactoring docs
  docs/ref/node-management.md
Owners: @ohdearaugustin, @nblock

Corrected existing tests. New tests added
  cmd/headscale/headscale_test.go
  hscontrol/db/db_test.go
  hscontrol/db/node_test.go
  hscontrol/db/preauth_keys_test.go
  hscontrol/db/routes_test.go
  hscontrol/db/suite_test.go
  hscontrol/db/users_test.go
  hscontrol/mapper/mapper_test.go
  hscontrol/mapper/tail_test.go
Owners: @juanfont, @kradalby

Fixed errors in files according to golangci-lint rules
  hscontrol/db/node_test.go
Owners: @juanfont, @kradalby

Corrected unit tests
  hscontrol/db/node_test.go
  integration/auth_approval_test.go
  integration/cli_test.go
Owners: @juanfont, @kradalby

Fixed errors in files according to golangci-lint rules
  hscontrol/oidc.go
  hscontrol/templates/general.go
  hscontrol/templates/oidc_callback.go
Owners: @juanfont, @kradalby

Fixes #2220
  CHANGELOG.md
  Dockerfile.debug
Owners: @ohdearaugustin, @nblock

rename dockerfile to integration to avoid confusion
  Dockerfile.integration
  integration/auth_oidc_test.go
  integration/hsic/hsic.go
Owners: @ohdearaugustin, @nblock, @juanfont, @kradalby
