Repository juanfont/headscale, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juanfont, @kradalby, @ohdearaugustin

.github/CODEOWNERS:

* @juanfont @kradalby

*.md @ohdearaugustin
*.yml @ohdearaugustin
*.yaml @ohdearaugustin
Dockerfile* @ohdearaugustin
.goreleaser.yaml @ohdearaugustin
/docs/ @ohdearaugustin
/.github/workflows/ @ohdearaugustin
/.github/renovate.json @ohdearaugustin

use tsaddr library and cleanups (#2150)
  cmd/headscale/cli/routes.go
  flake.nix
  go.mod
  go.sum
  hscontrol/db/ip.go
  hscontrol/db/ip_test.go
  hscontrol/db/node.go
  hscontrol/db/node_test.go
  hscontrol/db/routes.go
  hscontrol/db/routes_test.go
  hscontrol/mapper/mapper_test.go
  hscontrol/mapper/tail_test.go
  hscontrol/policy/acls.go
  hscontrol/policy/acls_test.go
  hscontrol/poll.go
  hscontrol/types/routes.go
  hscontrol/util/addr.go
  hscontrol/util/key.go
  hscontrol/util/net.go
Owners: @juanfont, @kradalby

add sqlite to debug/test image
  Dockerfile.debug
Owners: @ohdearaugustin

test using gorm serialiser instead of custom hooks
  hscontrol/db/db.go
  hscontrol/db/db_test.go
  hscontrol/db/ip_test.go
  hscontrol/db/node.go
  hscontrol/db/node_test.go
  hscontrol/db/preauth_keys.go
  hscontrol/db/routes.go
  hscontrol/db/routes_test.go
  hscontrol/db/testdata/0-23-0-to-0-24-0-no-more-special-types.sqlite
  hscontrol/db/text_serialiser.go
  hscontrol/mapper/mapper_test.go
  hscontrol/mapper/tail_test.go
  hscontrol/policy/acls.go
  hscontrol/policy/acls_test.go
  hscontrol/poll.go
  hscontrol/types/common.go
  hscontrol/types/node.go
  hscontrol/types/routes.go
  hscontrol/types/routes_test.go
  integration/hsic/config.go
Owners: @juanfont, @kradalby

use gorm serialiser instead of custom hooks (#2156)
  Dockerfile.debug
  hscontrol/db/db.go
  hscontrol/db/db_test.go
  hscontrol/db/ip_test.go
  hscontrol/db/node.go
  hscontrol/db/node_test.go
  hscontrol/db/preauth_keys.go
  hscontrol/db/routes.go
  hscontrol/db/routes_test.go
  hscontrol/db/testdata/0-23-0-to-0-24-0-no-more-special-types.sqlite
  hscontrol/db/text_serialiser.go
  hscontrol/mapper/mapper_test.go
  hscontrol/mapper/tail_test.go
  hscontrol/policy/acls.go
  hscontrol/policy/acls_test.go
  hscontrol/poll.go
  hscontrol/types/common.go
  hscontrol/types/node.go
  hscontrol/types/routes.go
  hscontrol/types/routes_test.go
  integration/hsic/config.go
Owners: @ohdearaugustin, @juanfont, @kradalby

implement auth as provider interface, dry oidc
  CHANGELOG.md
  flake.nix
  go.mod
  go.sum
  hscontrol/app.go
  hscontrol/auth.go
  hscontrol/db/db.go
  hscontrol/db/db_test.go
  hscontrol/db/node.go
  hscontrol/db/preauth_keys.go
  hscontrol/db/routes.go
  hscontrol/db/routes_test.go
  hscontrol/db/suite_test.go
  hscontrol/db/users.go
  hscontrol/db/users_test.go
  hscontrol/grpcv1.go
  hscontrol/handlers.go
  hscontrol/mapper/mapper.go
  hscontrol/mapper/mapper_test.go
  hscontrol/mapper/tail.go
  hscontrol/oidc.go
  hscontrol/policy/acls.go
  hscontrol/policy/acls_test.go
  hscontrol/suite_test.go
  hscontrol/types/config.go
  hscontrol/types/config_test.go
  hscontrol/types/node.go
  hscontrol/types/node_test.go
  hscontrol/types/users.go
  hscontrol/util/dns.go
  hscontrol/util/dns_test.go
  integration/auth_oidc_test.go
Owners: @ohdearaugustin, @juanfont, @kradalby

Redo OIDC configuration (#2020)
  CHANGELOG.md
  flake.nix
  go.mod
  go.sum
  hscontrol/app.go
  hscontrol/auth.go
  hscontrol/db/db.go
  hscontrol/db/db_test.go
  hscontrol/db/node.go
  hscontrol/db/preauth_keys.go
  hscontrol/db/routes.go
  hscontrol/db/routes_test.go
  hscontrol/db/suite_test.go
  hscontrol/db/users.go
  hscontrol/db/users_test.go
  hscontrol/grpcv1.go
  hscontrol/handlers.go
  hscontrol/mapper/mapper.go
  hscontrol/mapper/mapper_test.go
  hscontrol/mapper/tail.go
  hscontrol/oidc.go
  hscontrol/policy/acls.go
  hscontrol/policy/acls_test.go
  hscontrol/suite_test.go
  hscontrol/types/config.go
  hscontrol/types/config_test.go
  hscontrol/types/node.go
  hscontrol/types/node_test.go
  hscontrol/types/users.go
  hscontrol/util/dns.go
  hscontrol/util/dns_test.go
  integration/auth_oidc_test.go
Owners: @ohdearaugustin, @juanfont, @kradalby

set hostinfo,ipv* columns explicitly
  hscontrol/types/node.go
Owners: @juanfont, @kradalby

set hostinfo,ipv* columns explicitly (#2165)
  hscontrol/types/node.go
Owners: @juanfont, @kradalby

make reauth test compat with tailscale head
  integration/general_test.go
Owners: @juanfont, @kradalby

sort test for stable order
  hscontrol/db/preauth_keys_test.go
Owners: @juanfont, @kradalby

make reauth test compat with tailscale head (#2167)
  hscontrol/db/preauth_keys_test.go
  integration/general_test.go
Owners: @juanfont, @kradalby

Changed all the HTML into go using go-elem
  go.mod
  go.sum
  hscontrol/handlers.go
  hscontrol/platform_config.go
  hscontrol/templates/apple.go
  hscontrol/templates/apple.html
  hscontrol/templates/general.go
  hscontrol/templates/register_web.go
  hscontrol/templates/windows.go
  hscontrol/templates/windows.html
Owners: @juanfont, @kradalby

update flake
  flake.nix
Owners: @juanfont, @kradalby

Changed all the html into go using go-elem (#2161)
  flake.nix
  go.mod
  go.sum
  hscontrol/handlers.go
  hscontrol/platform_config.go
  hscontrol/templates/apple.go
  hscontrol/templates/apple.html
  hscontrol/templates/general.go
  hscontrol/templates/register_web.go
  hscontrol/templates/windows.go
  hscontrol/templates/windows.html
Owners: @juanfont, @kradalby

remove log print
  hscontrol/policy/acls.go
Owners: @juanfont, @kradalby

#2178 Fixed processing of fields in post request in MoveNode rpc
  CHANGELOG.md
  gen/go/headscale/v1/headscale.pb.go
  gen/go/headscale/v1/headscale.pb.gw.go
  gen/openapiv2/headscale/v1/headscale.swagger.json
  proto/headscale/v1/headscale.proto
Owners: @ohdearaugustin, @juanfont, @kradalby

#2178 Updated CHANGELOG.md
  CHANGELOG.md
Owners: @ohdearaugustin

use https for other relogin tests
  integration/auth_web_flow_test.go
  integration/cli_test.go
Owners: @juanfont, @kradalby

#2178 Fixed processing of fields in post request in MoveNode rpc (#2179)
  CHANGELOG.md
  gen/go/headscale/v1/headscale.pb.go
  gen/go/headscale/v1/headscale.pb.gw.go
  gen/openapiv2/headscale/v1/headscale.swagger.json
  proto/headscale/v1/headscale.proto
Owners: @ohdearaugustin, @juanfont, @kradalby

Add configuration reference
  docs/ref/configuration.md
Owners: @ohdearaugustin

Restructure existing documentation
  docs/about/faq.md
  docs/index.md
  docs/ref/acls.md
  docs/ref/dns.md
  docs/ref/exit-node.md
  docs/ref/integration/reverse-proxy.md
  docs/ref/integration/web-ui.md
  docs/ref/oidc.md
  docs/ref/remote-cli.md
  docs/ref/tls.md
  docs/usage/connect/android.md
  docs/usage/connect/apple.md
  docs/usage/connect/windows.md
  mkdocs.yml
Owners: @ohdearaugustin

Move client OS support into the documentation
  README.md
  docs/about/clients.md
Owners: @ohdearaugustin

Setup mkdocs-redirects
  docs/requirements.txt
  mkdocs.yml
Owners: @ohdearaugustin

Reuse CONTRIBUTING.md" in the documentation
  docs/about/contributing.md
  docs/about/faq.md
  docs/index.md
  docs/requirements.txt
  mkdocs.yml
Owners: @ohdearaugustin

Update wording
  docs/about/faq.md
  docs/index.md
  docs/ref/acls.md
  docs/ref/dns.md
  docs/ref/integration/reverse-proxy.md
  docs/ref/integration/web-ui.md
  docs/ref/oidc.md
  docs/ref/remote-cli.md
  docs/ref/tls.md
  docs/setup/install/cloud.md
  docs/setup/install/container.md
  docs/setup/install/official.md
  docs/setup/install/source.md
  docs/usage/connect/android.md
  docs/usage/connect/apple.md
  docs/usage/connect/windows.md
Owners: @ohdearaugustin

Make a few pages linter compatible
  .prettierignore
  docs/ref/remote-cli.md
  docs/setup/install/container.md
  docs/setup/install/official.md
Owners: @juanfont, @kradalby, @ohdearaugustin

Indent code block in OIDC
  docs/ref/oidc.md
Owners: @ohdearaugustin

Document packages provided by the community
  docs/running-headscale-openbsd.md
  docs/setup/install/community.md
Owners: @ohdearaugustin

Add a getting started page and explain the first steps with headscale
  docs/running-headscale-linux-manual.md
  docs/running-headscale-linux.md
  docs/running-headscale-openbsd.md
  docs/running-headscale-sealos.md
  docs/usage/getting-started.md
Owners: @ohdearaugustin

Recommend HTTPS on port 443
  docs/setup/requirements.md
Owners: @ohdearaugustin

Move sealos documentation to cloud install page
  docs/images/headscale-sealos-grpc-url.png
  docs/images/headscale-sealos-url.png
  docs/running-headscale-sealos.md
  docs/setup/install/cloud.md
Owners: @ohdearaugustin

Move manual install guide to official releases
  docs/running-headscale-linux-manual.md
  docs/setup/install/official.md
Owners: @ohdearaugustin

Welcome to headscale
  docs/index.md
  mkdocs.yml
Owners: @ohdearaugustin

Adjust mkdocs nav
  config-example.yaml
  mkdocs.yml
Owners: @ohdearaugustin

Add upgrading page
  docs/setup/upgrade.md
Owners: @ohdearaugustin

Add help page
  docs/about/help.md
Owners: @ohdearaugustin

Move container documentation to setup section
  docs/setup/install/container.md
Owners: @ohdearaugustin

Link to existing documentation in the FAQ
  docs/about/faq.md
Owners: @ohdearaugustin

Add releases page
  docs/about/releases.md
Owners: @ohdearaugustin

Add sponsor page
  docs/about/sponsor.md
  docs/index.md
Owners: @ohdearaugustin
