Repository juanfont/headscale, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juanfont, @kradalby, @ohdearaugustin

Use mkdocs-macros to set headscale version once
  docs/ref/configuration.md
  docs/requirements.txt
  mkdocs.yml
Owners: @ohdearaugustin

Document requirements and assumptions
  docs/setup/requirements.md
Owners: @ohdearaugustin

Simplify DNS documentation
  config-example.yaml
  docs/ref/dns.md
Owners: @ohdearaugustin

Use hosts in acl documentation
  docs/ref/acls.md
Owners: @ohdearaugustin

Move deb install guide to official releases
  docs/running-headscale-linux.md
  docs/setup/install/community.md
  docs/setup/install/official.md
Owners: @ohdearaugustin

Move OpenBSD docs to build from source
  README.md
  docs/running-headscale-openbsd.md
  docs/setup/install/source.md
Owners: @ohdearaugustin

Remove the goal header and use the text as opener
  docs/ref/remote-cli.md
  docs/usage/connect/android.md
  docs/usage/connect/apple.md
  docs/usage/connect/windows.md
Owners: @ohdearaugustin

Add features page
  README.md
  docs/about/features.md
Owners: @ohdearaugustin

#2177 Added conversion of 'Hostname' to 'givenName' in a node by applying FQDN rules
  hscontrol/db/node.go
  hscontrol/db/node_test.go
  hscontrol/util/dns.go
  hscontrol/util/dns_test.go
Owners: @juanfont, @kradalby

#2177 Updated CHANGELOG.md
  CHANGELOG.md
Owners: @ohdearaugustin

Fixed loginUrl with "WithTLS()" used. Added "WithTLS()" to scenario integration tests
  integration/auth_oidc_test.go
  integration/auth_web_flow_test.go
  integration/cli_test.go
Owners: @juanfont, @kradalby

Add headplane
  docs/ref/integration/web-ui.md
Owners: @ohdearaugustin

Add headplane
  docs/ref/integration/web-ui.md
Owners: @ohdearaugustin

Fixed loginUrl with "WithTLS()" used. Added "WithTLS()" to scenario integration tests (#2187)
  integration/auth_oidc_test.go
  integration/auth_web_flow_test.go
  integration/cli_test.go
Owners: @juanfont, @kradalby

#2177 Updated CHANGELOG.md
  CHANGELOG.md
Owners: @ohdearaugustin

#2177 Added conversion of 'Hostname' to 'givenName' in a node by applying FQDN rules
  hscontrol/db/node.go
  hscontrol/db/node_test.go
  hscontrol/util/dns.go
  hscontrol/util/dns_test.go
Owners: @juanfont, @kradalby

#2177 Added conversion of 'Hostname' to 'givenName' in a node with FQDN rules applied
  CHANGELOG.md
  hscontrol/db/node.go
  hscontrol/db/node_test.go
  hscontrol/util/dns.go
  hscontrol/util/dns_test.go
Owners: @ohdearaugustin, @juanfont, @kradalby

#2177 Added conversion of 'Hostname' to 'givenName' in a node with FQDN rules applied (#2198)
  CHANGELOG.md
  hscontrol/db/node.go
  hscontrol/db/node_test.go
  hscontrol/util/dns.go
  hscontrol/util/dns_test.go
Owners: @ohdearaugustin, @juanfont, @kradalby

Harden OIDC migration and make optional
  config-example.yaml
  hscontrol/oidc.go
  hscontrol/types/config.go
Owners: @ohdearaugustin, @juanfont, @kradalby

update changelog
  CHANGELOG.md
Owners: @ohdearaugustin

remove log print
  hscontrol/policy/acls.go
Owners: @juanfont, @kradalby

#2140 Fixed updating of hostname and givenName when it is updated in HostInfo
  CHANGELOG.md
  hscontrol/poll.go
  hscontrol/types/node.go
  hscontrol/types/node_test.go
Owners: @ohdearaugustin, @juanfont, @kradalby

#2140 Added integration tests
  .github/workflows/test-integration.yaml
  hscontrol/types/node.go
  integration/general_test.go
Owners: @ohdearaugustin, @juanfont, @kradalby

#2140 Fix unit tests
  hscontrol/types/node_test.go
Owners: @juanfont, @kradalby

feat: derpmap field in config (#1823)
  hscontrol/derp/derp.go
  hscontrol/types/config.go
Owners: @juanfont, @kradalby

Changed IsAutomaticNameMode to GivenNameHasBeenChanged. Fixed errors in files according to golangci-lint rules
  hscontrol/types/node.go
  integration/general_test.go
Owners: @juanfont, @kradalby

add @ to end of username if not present
  hscontrol/types/users.go
Owners: @juanfont, @kradalby

add iss to identifier, only set email if verified
  hscontrol/types/users.go
Owners: @juanfont, @kradalby

restore strip_email_domain for migration
  hscontrol/oidc.go
  hscontrol/types/config.go
  hscontrol/util/dns.go
Owners: @juanfont, @kradalby

#2140 Fixed reflection of hostname change (#2199)
  .github/workflows/test-integration.yaml
  CHANGELOG.md
  hscontrol/poll.go
  hscontrol/types/node.go
  hscontrol/types/node_test.go
  integration/general_test.go
Owners: @ohdearaugustin, @juanfont, @kradalby

add new user fields to grpc and list command
  cmd/headscale/cli/users.go
  gen/go/headscale/v1/user.pb.go
  gen/openapiv2/headscale/v1/headscale.swagger.json
  hscontrol/types/users.go
  proto/headscale/v1/user.proto
Owners: @juanfont, @kradalby

add new user fields to grpc and list command (#2202)
  cmd/headscale/cli/users.go
  gen/go/headscale/v1/user.pb.go
  gen/openapiv2/headscale/v1/headscale.swagger.json
  hscontrol/types/users.go
  proto/headscale/v1/user.proto
Owners: @juanfont, @kradalby

add @ to end of username if not present
  hscontrol/types/users.go
Owners: @juanfont, @kradalby

update changelog
  CHANGELOG.md
Owners: @ohdearaugustin

Harden OIDC migration and make optional
  config-example.yaml
  hscontrol/oidc.go
  hscontrol/types/config.go
Owners: @ohdearaugustin, @juanfont, @kradalby

add iss to identifier, only set email if verified
  hscontrol/types/users.go
Owners: @juanfont, @kradalby

remove log print
  hscontrol/policy/acls.go
Owners: @juanfont, @kradalby

restore strip_email_domain for migration
  hscontrol/oidc.go
  hscontrol/types/config.go
  hscontrol/util/dns.go
Owners: @juanfont, @kradalby

fix oidc test, add tests for migration
  cmd/headscale/cli/mockoidc.go
  hscontrol/oidc.go
  hscontrol/types/config.go
  hscontrol/types/users.go
  integration/auth_oidc_test.go
  integration/dockertestutil/execute.go
Owners: @juanfont, @kradalby

enforce uniqness with username and provider id
  hscontrol/db/db.go
  hscontrol/types/users.go
Owners: @juanfont, @kradalby

.github/CODEOWNERS:

* @juanfont @kradalby

*.md @ohdearaugustin
*.yml @ohdearaugustin
*.yaml @ohdearaugustin
Dockerfile* @ohdearaugustin
.goreleaser.yaml @ohdearaugustin
/docs/ @ohdearaugustin
/.github/workflows/ @ohdearaugustin
/.github/renovate.json @ohdearaugustin
